table{
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

th, td{
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

input {
  text-align: center;
}

p{
  width: 300px;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}